body {
  font-family: sans-serif;
  line-height: 1.5;
  background-color: #fafafa;
}

#content {
  position: relative;
  padding: 1em;
  margin: 1em auto;
  max-width: 800px;
}

nav ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

nav ul li {
  display: inline;
  height: 100%;
}

.date {
  font-size: 90%;
  color: #444;
}

#footnotes {
  font-size: 90%;
}

@media (max-width: 640px) {
  #content {
    padding: 2em 2em;
  }
}

@media (max-width: 430px) {
  #content {
    padding: 0.5em;
  }
}
